@page
@model IndexModel
 
@{
    ViewData["Title"] = "Home";
}

<div>
    <a asp-page="Tickets/Create">Create a ticket</a>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Ticket Id</th>
                <th>Status</th>
                <th>Domain Names</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Tickets.IsNullOrEmpty()){
                <tr>
                    <td colspan="4">
                        No Data
                    </td>
                </tr>
            }
            else {
                foreach(var t in Model.Tickets){
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.Status</td>
                        <td>@string.Join(",", t.Domains ?? [])</td>
                        <td>
                            @if(t.Status != Data.TicketStatus.Deleted) {
                                <form method="post" asp-page-handler="Delete" asp-route-id="@t.Id">
                                    <button type="submit">delete</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>