@inject IViteManifest Manifest
@inject IHostEnvironment Env
@inject IConfiguration Config

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Certs Server</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <environment include="Development">
        <link rel="stylesheet" vite-href="~/dist/tailwind.config.css" />
        @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" /> *@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" data-order="1" vite-href="tailwind.config.css" />
        @* <link rel="stylesheet" data-order="2" href="~/dist/@Manifest["tailwind.config.css"]!.File" /> *@
        @* <link rel="stylesheet" data-order="3" href="~/dist/tailwind.config.css" /> *@
        @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> *@
    </environment>
</head>

<body>


    <div class="ds-navbar bg-base-100 shadow-sm">

        <div class="flex-none">
            <a asp-page="/Index" class="ds-btn ds-btn-ghost text-xl">Home</a>
        </div>
        <div class="flex-1">
            <ul class="ds-menu ds-menu-horizontal px-1">
                <li><a asp-page="/QuartzAdmin/Index">Triggers</a></li>
            </ul>
        </div>
        <div class="flex-0">
            <ul class="ds-menu ds-menu-horizontal px-1">
                @if (Env.IsDevelopment() || Config.GetValue("EnableSwagger", false) == true)
                {
                    <li><a href="/swagger">Swagger</a></li>
                }
            </ul>
        </div>
    </div>

    @* <partial name="_CookieConsentPartial" /> *@

    <div class="px-2">
        @RenderBody()
        <footer class="mt-2">
            <hr />
            <p>&copy; 2025 - certs-server</p>
        </footer>
    </div>

    <environment include="Development">
        @* <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script> *@
    </environment>
    <environment exclude="Development">
        @* <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script> *@
    </environment>

    @* @RenderSection("Scripts", required: false) *@
</body>

</html>
